/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}


/* BASE STYLE --------------------------------------------------------------- */
body {
  font: 300 14px/1 "soleil", sans-serif;
  color: #e4e5e7;
  background-color: #4DB6AC;
  background-image: linear-gradient(to top left, #4DB6AC, #00897B);
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: calc(0.8vw + 3rem);
}

h2 {
  font-size: calc(0.8vw + 1.5rem);
}

h3 {
  font-size: calc(0.8vw + 0.8rem);
}

a {
  text-decoration: none;
  color: inherit;
}

/* helpers ------------------------------------------------------------------ */


/* animations --------------------------------------------------------------- */

.anim {
  display: block;
  position: absolute;
  top:0;
  left:0;
  transform: translate(0);
  z-index: 10;
  transition: 600ms ease;
}

/* Logo + Splash ------------------------------------------------------------ */

.pre-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top left, #4DB6AC, #00897B);
  z-index: 99;
  transition: opacity 1s;
  opacity: 1;
  transition-delay: 600ms;
}

.jr-logo {
  position: fixed;
  width: 6vw;
  transform: translate(20px,20px);
  transition-delay: 200ms;
}

.pre-loader:not(.loaded) .jr-logo {
  transform: translate(47vw,47vh) scale(3);
}

.pre-loader.loaded {
  opacity: 0;
}

.loader {
  position: absolute;
  width: 40px;
  bottom: 20px;
  left: 20px;
  opacity: 0.3;
}

/* Site Nav ----------------------------------------------------------------- */


