:host {
  position: absolute;
  width: 100%;
}

.page-container {
  position: relative;
  margin-top: 48px;
}

.page-header {
  width: 100%;
  right: 0;
  position: fixed;
  background-color: #0e4c46;
  z-index: 5;

  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.page-title {
  /*line-height: 1;*/
  flex: 1;
  padding: 1rem .5rem;
}

.btn-box {
  min-width: 2rem;
  padding: .5rem;
}
.header-btn {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .header-btn {
    display: inline-block;
    height: 100%;
    min-width: calc(64px + 5vw);
  }


  .header-btn:hover {
    background-color: #1c6b63;
  }

  .header-btn.active {
    background-color: #00897B;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(5vw + 64px);
  }
  .page-title {
    padding-left: 2rem;
  }
}
