<a class="jr-logo anim" >
  <svg xmlns="http://www.w3.org/2000/svg" id="js_headerLogo"
viewBox="0 0 34 16" >
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jr-logo" />
  </svg>
</a>
<nav>

  <a class="home nav-link" routerLink="/home" >

    <header>
      <h1>Jon Richards</h1>
      <h2>Web Developer</h2>
    </header>
  </a>

  <a class="anim nav-link work-link" routerLink="/work" >
    <h2>Work</h2>
  </a>
  <a class="anim nav-link about-link" routerLink="/about"  >
    <h2>About</h2>
  </a>
  <div class="anim framer" [ngStyle]="framerPos" ></div>

</nav>

<main id="content" class="frame-container" >
  <router-outlet ></router-outlet>
</main>
