.home-link {
  text-align: right;
  top: auto;
  right: 0;
  left: auto;
  bottom: 0;
  z-index: 20;
}

.home-logo {
  display: inline-block;
  width: 6vw;
  transition-delay: 200ms;
}

.nav-link {
    color: #B2DFDB;
    transition: color 300ms;
    margin-left: 48px;
}

.nav-link.work {
  left: calc(1vw + 9rem);
}

.nav-link.about {
    left: calc(1vw + 16rem);
}

.nav-link:hover, .nav-link.active {
  color: inherit;
}

.framer {
  background-color: #26A094;
  left: -71vw;
  left: -71vmax;
  height: 4px;
  padding-bottom: 100%;
  width: 142vw; /* vmax fallback */
  width: 142vmax;
  transform-origin: top;
  box-shadow: -10px 0 20px #28615a;
  z-index: 10;
}

.framer::after {
  content: '';
  position: absolute;
  top: -2px;
  left: calc(50% - 2px);
  height: 4px;
  width: 4px;
  display: block;
  background-color: magenta;
}

.site-nav {
  position: relative;
  padding: 2vh 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 20;
}
