
/* TODO >>> is obsolete */

.project-wrapper-bg {
  cursor: pointer;
  background-color: #0e4c46;
  opacity: 0;
  transition: opacity 300ms;
}
.project-wrapper-bg:hover {
  opacity: 0.3
}

.project-float {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.project-float.in {
  overflow: visible;
}

.project-intro-bg {
  width: 768px;
  max-width: 100%;
  height: 192px;
  margin: auto;
  border-radius: 8px;
  position: relative;
  transform-origin: top;
}

.project-intro {
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 0;
  width: 768px;
  max-width: 100%;
  height: 192px;
  transform: translateX(-50%);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.project-intro-label {
  flex: 1;
  align-self: center;
}
.project-intro-icon {
   flex: 1;
   height: 320px;
}

.project-intro-icon >>> svg {
  width: 100%;
  height: 100%;
}

.project-close {
  top: 16px;
  right: 32px;
  position: absolute;
  font-size: 2.37rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.project-wrapper {
  position: relative;
}
