
:host {
  padding-top: 96px;
  display: block;
  /*height: 100vh;*/
}

.folio-container {
  position: relative;
  height: calc(100vh - 144px);
  overflow-y: auto;
}

.folio-title {
    text-align: center;
    padding: 8px;
    width: 100%;
    position: relative;
    background-color: #0e4c46;
    height: 48px;
    z-index: 24;
}

.nav-link, .page-title {
  display: inline-block;
  margin: 0 8px;
  z-index: 20;
}


.projects-list {
  height: 100%;
}


.project {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  left: 0;
  height: 256px;
/*padding: 48px 0;*/
}

.project-container {
  position: relative;
  display: block;
  height: 192px;
  width: 768px;
  margin: 32px auto;
  border-radius: 8px;
  box-shadow: 0 10px 20px #28615a;
}


.project-wrapper {
  margin-top: -96px;
  position: relative;
}

.project-intro {

  padding: 8px;
  display: flex;
  height: 100%;
  margin: auto;
  justify-content: space-between;
/*  align-items: flex-start;*/
  overflow: hidden;


}
.project-intro-label {
  flex: 1;
  align-self: center;
}
.project-intro-icon {
   flex: 1;
   height: 320px;
   z-index: 5;
}

.project-intro-icon >>> svg {
  width: 100%;
  height: 100%;
}
