

  <nav class="folio-title fixed-overlay">
    <h4 *ngFor="let filter of filters"
    class="folio-filter nav-link"
      [ngClass]="{'active': category === filter}"
      (click)="filterProjects({value: filter})" >
      {{filter | titlecase}}
    </h4>
  </nav>

  <section class="folio-container"  >


    <ul class="projects-list" >

        <li *ngFor="let project of projects | async; index as i"
          class="project"
          [ngClass]="'project-' + project.slug"
          [appFolioListItem]="i"
          [@listAnim]="{ value: activeChild === project.slug }"
          routerLinkActive="active" >

          <a class="project-container"
          [ngStyle]="project.style"
          [routerLink]="project.slug" >
            <div class="project-label" >
              <h3>{{project.title}} {{i}}</h3>
              <em>{{project.desc}}</em>
            </div>
          </a>
        </li>
    </ul>


  <router-outlet ></router-outlet>

</section>
