.folio-title {
  position: absolute;
  bottom: 22vh;

}

.nav-link, .page-title {
  display: inline-block;
  margin: 0 16px;
  z-index: 20;
}


.projects-grid {
  position: relative;
  width: 1200px;
  max-width: 100%;
  height: 50vh;
  margin: 15vh auto 0;

  border: solid 1px white;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;

  /*transition: transform 600ms ease-out;*/
}


.project {
  position: relative;
  animation: fade-in 300ms ease-in both;
  border: solid 1px red;
}

/*.project-rhc {
  grid-area: 1 / 1 / 2 / 2;
}

.project-web {
  grid-column: 0 / 2;
}*/

.project-label {
  position: absolute;
  padding: 4px;
  top: calc(50% - 30px);
  background-color: rgba(32, 85, 80, 0.8);
}

/*.project:nth-child(1) { align-self: end; text-align: right; }
.project:nth-child(2) { align-self: end;}
.project:nth-child(3) { align-self: start; text-align: right; }
.project:nth-child(4) { align-self: start;}*/
