

  <nav class="folio-title">
    <a class="folio-filter nav-link" *ngFor="let filter of filters" [routerLink]="[{category: filter}]" >
        {{filter | titlecase}}
    </a>
  </nav>

  <section class="folio-container" [scrollTop]="scrollPos" #listContainer >

    <ul class="projects-list" >

        <li *ngFor="let project of projects"
          class="project"
          [ngStyle]="project.computed.style"
          [@listAnim] >

          <a class="project-container"
            [ngClass]="project.computed.active"
            [ngStyle]="project.intro.style"
            [routerLink]="[{project: project.slug}]"
            [@listInner]="project.computed.active" >

            <div class="project-intro container content-pad hover-trigger"  >

              <div class="project-intro-label" >
                <h3>{{project.intro.title}} {{i}}</h3>
                <em>{{project.intro.desc}}</em>
              </div>

              <div class="project-intro-icon"
               *ngIf="project.intro.icon"
               [inlineSVG]="project.intro.icon" >
              </div>

            </div>
          </a>

          <article class="project-wrapper" *ngIf="project.computed.active === 'in'" >

            <app-template [template]="project" ></app-template>

          </article>

        </li>
    </ul>

</section>
