

  <nav class="folio-title fixed-overlay">
    <a class="folio-filter nav-link" *ngFor="let filter of filters" [routerLink]="[{category: filter}]" >
        {{filter | titlecase}}
    </a>
  </nav>

  <section class="folio-container" [scrollTop]="scrollPos" #listContainer >

    <a [routerLink]="[{category: category}]" >reset</a>

    {{activeChild}}

    <ul class="projects-list" >

        <li *ngFor="let project of projects"
          class="project"
          [ngStyle]="project.computed.style"
          [@listAnim] >

          <a class="project-container"
          [ngStyle]="project.style"
          [routerLink]="[{project: project.slug}]"
          [@listInner]="project.computed.active" >
            <div class="project-label" >
              <h3>{{project.intro.title}} {{i}}</h3>
              <em>{{project.intro.desc}}</em>
            </div>
          </a>

          <article class="project-wrapper" *ngIf="project.computed.active === '1'" >

            <app-template [template]="project" ></app-template>

          </article>

        </li>
    </ul>

</section>
