.site-header {
  right: 32px;
  bottom: 16px;
  z-index: 25;
  text-align: right;
/*  transform: translate(-32px, -16px);*/
  position: fixed;
}

.site-logo {
  width:100%;
  padding: 8px;
  display: block;
  position: relative;
}
.sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: calc(64px + 5vw);
  min-width: 100px;
  height: 100vh;
}

.sidebar-bg {
  position: absolute;
  transform-origin: top right;
  width: 100vw;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #00897B;
  box-shadow: 0 0 20px #000;
}

.site-nav {
  position: absolute;
  width: 100%;
}




.site-link {
  padding: 8px;
  border-top: solid 1px black;
  display: block;
  text-align: center;
}



.site-content {
  overflow-y: auto;
  overflow-x: hidden;
}
