.site-logo {
  width:100%;
  padding: 8px;
}
.site-logo a {
  display: block;
  position: relative;
  max-width: 110px;
  margin: auto;
}
.sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 50vw;
  min-width: 150px;
  height: 100vh;
}

.sidebar-bg {
  position: absolute;
  transform-origin: top right;
  width: 100vw;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #00897B;
}

.site-nav {
  position: absolute;
  width: 100%;
}
.site-link {
  padding: 8px;
  border-bottom: solid 1px black;
  display: block;
  text-align: center;
}
.site-link:first-of-type {
  border-top: solid 1px black;
}
.site-link:hover {
  background-color: #1c6b63;
}
.site-link.active {
  background-color: #0e4c46;
}

.home-nav {
  position: absolute;
  bottom: 32px;
  left: 32px;
  white-space: nowrap;
}

.site-content {
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
}

.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  /* todo use an icon */
}

@media screen and (min-width: 800px) {

  .sidebar {
    width: calc(64px + 5vw);
    min-width: 100px;
  }

  .site-content {
    left: calc(64px + 5vw);
  }
  .menu-toggle {
    display: none;
  }

}
