
:host {
  position: absolute;
  height: 100%;
  width: 100%;
}

.anim {
  transition: transform 300ms ease-out;
  position: absolute;
}

.site-header {
  right:0;
  bottom: 0;
  z-index: 25;
  text-align: right;
  transform: translate(-48px, -48px);
}

.site-nav {
  position: absolute;
  top:16px;
  left:16px;
  display: flex;
  align-items: center;
}

.site-logo {
  width: 6vw;
}

.site-link {
  margin-left: 16px;
}

.site-framer {
  background-color: #00897B;
  top:0;
  left: -71vw;  /* vmax fallback */
  left: -71vmax;
  height: 142vw;
  height: 142vmax;
  width: 142vw;
  width: 142vmax;
  transform-origin: top;
  transform: translate(100%, 50vh) rotate(90deg);
  box-shadow: -10px 0 20px #000;
}



/*
.site-framer::after {
  content: '';
  position: absolute;
  top: -2px;
  left: calc(50% - 2px);
  height: 4px;
  width: 4px;
  display: block;
  background-color: magenta;
}*/
