
<header class="site-header"  >
<!--  <a routerLink="/" >-->
    <h1>Jon Richards</h1>
    <h3>Web Developer</h3>
<!--  </a>-->
</header>

<div class="sidebar" [@sidebar]="states.sidebarState" >
  <div id="sideBG" class="sidebar-bg anim" ></div>
  <nav id="sideNav" class="site-nav" >
    <a class="site-logo" routerLink="/" [inlineSVG]="'../assets/jr-logo-fun.min.svg'" >
      logo
    </a>

    <a class="nav-link site-link" routerLink="folio" routerLinkActive="active">
      <i class="nav-icon" [inlineSVG]="'../assets/ph.svg'" ></i>
      <h4>Folio</h4>
    </a>

    <a class="nav-link site-link" routerLink="about" routerLinkActive="active">
      <i class="nav-icon" [inlineSVG]="'../assets/ph.svg'" ></i>
      <h4>About</h4>
    </a>
  </nav>
</div>

<main class="site-content" [@routeAnimation]="states.currentPage" >

  <router-outlet #routerOutlet="outlet" ></router-outlet>

</main>




<!--

appComponent
appModule
- home
- about
- folio
  projectClass
- folio-sub

routingModule

templaterModule
  CSS (shared)
  templateClass
- template-text
  Component
- template-image
  Component
- template-codepen
  Component

shared
- layout-updateService <- EVENT EMITTER????
  layoutClass
- commsService
  commsClass


TEMPLATES
>Header
  - BG image
  - Text Left
  - Image Right
>Columns block
  - image/text
>Gallery block
  - image link array
>Codepen block
  - codepen link
> big image block
  - image link

  STYLES (based on above)
  - grid-1 grid-2 grid-flex
  - image frame
  - large margins on rows, to make space for overlapping images
  - AOS effects??


-->
