
<div class="sidebar" [@nav]="appState.page" *ngIf="sidebarVisible()" >
  <div class="sidebar-bg frame-shadow" [@sidebarBG]="appState.page" ></div>

  <div class="site-logo"  >
    <a routerLink="home" [inlineSVG]="'../assets/site/jr-logo-fun.min.svg'" >
      logo
    </a>
  </div>



  <nav id="sideNav" class="site-nav" >
    <ng-container *ngIf="siteNavVisible()" >
      <a class="nav-link site-link" routerLink="home" routerLinkActive="active"  >
        <div class="navicon hide-small" [inlineSVG]="'../assets/site/home.svg'" ></div>
        <h4>Home</h4>
      </a>

      <a class="nav-link site-link" routerLink="folio" routerLinkActive="active"  >
        <div class="navicon hide-small" [inlineSVG]="'../assets/site/work.svg'" ></div>
        <h4>Folio</h4>
      </a>

      <a class="nav-link site-link" routerLink="about" routerLinkActive="active" >
        <div class="navicon hide-small" [inlineSVG]="'../assets/site/about.svg'" ></div>
        <h4>About</h4>
      </a>
    </ng-container>
  </nav>

</div>

<nav class="contact-nav" [ngClass]="appState.page" >
  <a class="contact-link" href="mailto:jon.richards@outlook.com" >
    <h5><i class="navicon" [inlineSVG]="'../assets/site/email.svg'" ></i>
      <span>jon.richards@outlook.com</span>
    </h5>
  </a>
  <a class="contact-link" href="https://github.com/jon-r" target="_blank" rel="noreferrer" >
    <h5><i class="navicon" [inlineSVG]="'../assets/site/github.svg'" ></i>
      <span>github.io/jon-r</span>
    </h5>
  </a>
</nav>

<button class="menu-toggle"
  (click)="toggleSidebar()"
  [ngClass]="{ 'on': showSidebar }"
  [inlineSVG]="'../assets/site/burger.svg'" >
</button>

<main class="site-content full-screen"
  [@routeAnimation]="appState.page"
  [scrollTop]="scrollPos"
  #routesContainer >

  <router-outlet #routerOutlet="outlet" (activate)="updateRoute(routerOutlet)" ></router-outlet>

</main>






<!--

appComponent
appModule
- home
- about
- folio
  projectClass
- folio-sub

routingModule

templaterModule
  CSS (shared)
  templateClass
- template-text
  Component
- template-image
  Component
- template-codepen
  Component

shared
- layout-updateService <- EVENT EMITTER????
  layoutClass
- commsService
  commsClass


TEMPLATES
>Header
  - BG image
  - Text Left
  - Image Right
>Columns block
  - image/text
>Gallery block
  - image link array
>Codepen block
  - codepen link
> big image block
  - image link

  STYLES (based on above)
  - grid-1 grid-2 grid-flex
  - image frame
  - large margins on rows, to make space for overlapping images
  - AOS effects??


-->
