@keyframes enterUp {
  0% { opacity:0; transform: translateY(100%); }
  100% { opacity:1; transform: translateY(0); }
}

@keyframes slideOut {
  0% { opacity:1; transform: translateX(0); }
  100% { opacity:0; transform: translateX(120%); }
}

.folio-title {
  position: absolute;
  top: 66vh;
  transform: rotate(-8deg);
  z-index: 10;
}

.folio-title > * {
  display: inline-block;
}

.folio-title > * {
  display: inline-block;
  margin: 0 16px;
}

.page-title {
  font-size: calc(1vw + 5rem)
}


.folio-filter {}


.projects {
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 600ms ease-in-out;
  height: 100%;
}

.active-child {
  transform: translateX(120%);
}

.projects li {
  display: inline-block;
  width: 50%;
  animation: 600ms enterUp backwards ease-out;
}

.projects li.is-active {
  opacity: 0;
}

.project-container {
  padding: 8px;
  display: block;
}

.project-photo.tile {
  background-size: 100vh;
}

.project-tile {
  height: 256px;
  position: relative;
  background-color: rgba(32, 85, 80, 0.3);
}

.project-photo,
.project-caption,
.project-tile::after {
  position: absolute;
  left:0;
  right:0;
}

.project-tile::after {
  top:0;
  height:100%;
  border: solid 2px;
  content:'';
}

.project-photo {
  top:0;
  height:61.8%;
}

.project-caption {
  top: 61.8%;
  padding: 8px;
}
.project-caption em {
  text-align: right;
}

.project-frame {
  width: 100%;
}
