

<ul #folioList class="projects" *ngIf="filteredProjects" routerLinkActive="active-child">
  <li class="project" *ngFor="let project of filteredProjects; let i = index"
      [ngStyle]="{'animation-delay.ms': (i * 50) }" [ngClass]="'project-' + project.slug"
      routerLinkActive="is-active"   >
    <a class="project-container" (click)="tileTransition($event)"
    [routerLink]="[project.id]" >
    <div class="project-thumb" [inlineSVG]="'/static/' + project.slug + '/tile.svg'" >

    </div>
      <div class="project-label" >
        <h3>{{project.title}}</h3>
        <em>{{project.desc}}</em>
      </div>
    </a>
  </li>
</ul>

<header class="folio-title">
  <h1 class="page-title">Folio</h1>
  <h2 class="folio-filter" (click)="filterProjects('work')" >Work</h2>
  <h2 class="folio-filter" (click)="filterProjects('play')" >Play</h2>
</header>

<router-outlet></router-outlet>
