<ul #folioList class="project-container projects" *ngIf="projects" routerLinkActive="active-child">
  <li *ngFor="let project of projects; let i = index"
      [ngStyle]="{'animation-delay.ms': (i * 50) }"
      routerLinkActive="is-active" >
    <a [routerLink]="[project.id]" (click)="clickEvent($event)" >

      <figure class="project-tile" >
        <div class="project-photo" [ngStyle]="project.tileStyle" ></div>
        <figcaption class="project-caption">
          <h3>{{project.title}}</h3>
          <em>{{project.desc}}</em>
        </figcaption>
      </figure>

    </a>
  </li>
</ul>

<article class="project-frame anim" [ngStyle]="projectPosition" >
  <router-outlet></router-outlet>
</article>
