@keyframes enterUp {
  from { opacity:0; transform: translateY(50vw); }
}

/*@keyframes slideOut {
  0% { opacity:1; transform: translateX(0); }
  100% { opacity:0; transform: translateX(120%); }
}*/

.folio-title {
  position: absolute;
  bottom: calc(20vh - 9vw + 20px); /* trigonometry bitches. 50tan(30deg) */
  transform: rotate(-10deg);
  transform-origin: top left;
}

.folio-title > * {
  display: inline-block;
}

.folio-title > * {
  display: inline-block;
  margin: 0 16px;
}

.page-title {
  font-size: calc(1vw + 5rem)
}


.folio-filter {}


.projects {
  display: grid;
  grid-template-columns: 50vmin 50vmin;
  grid-gap: 16px;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 85vmin;
  width: 100vw;
  transition: transform 600ms ease-out;
}

.active-child {
  transform: translateY(50vh);
}

.project {
  position: relative;
  animation: 600ms enterUp backwards ease-out;
}

.project:nth-child(1) { align-self: end; text-align: right; }
.project:nth-child(2) { align-self: end;}
.project:nth-child(3) { align-self: start; text-align: right; }
.project:nth-child(4) { align-self: start;}


/*.project:nth-child(3) .project-label {  }
.project:nth-child(4) .project-label {  }*/

.project-label {
  position: absolute;
  /*top: 4px;
  left: 4px;*/
  padding: 4px;
  background-color: rgba(32, 85, 80, 0.8);
}

.project:nth-child(even) .project-label { top: 4px; right: -4px }
.project:nth-child(odd) .project-label { bottom: 4px; left: -4px }


/*.projects {
  position: absolute;
  left: 45vw;
  top: calc(40vh - 1vw);
  background: magenta;
  widtH: 1vw;
  height: 1vw;

}*/



/*.project {
  position: absolute;
  width: 30vw;
  height: 30vw;
  animation: 600ms enterUp backwards ease-out;
} */

/*4.4vw offset*/

/*.project:nth-child(even) { left:100%; }
.project:nth-child(odd) { right:100%; }

.project-rhc { bottom: calc(100% - 7.3vw); }
.project-cam { bottom: 100% }
.project-arc { top: calc(100% + 2vw); }
.project-rec { top: calc(100% - 5.3vw); }
.project-blk { bottom: calc(100% - 3vw); }
.project-ico { bottom: calc(100% - 6vw); }
.project-til { top: calc(100% - 2.3vw); }
.project-jst { top: calc(100% + 0.7vw); }*/



/*.project-rhc .project-label { left: 37%; top: 32% }
.project-cam .project-label { left: -1%; top: 52% }
.project-arc .project-label { left: 17%; top: 15% }
.project-rec .project-label { left: -1%; top: 18% }
.project-blk .project-label { left: -1%; top: 51% }
.project-ico .project-label { left: -1%; top: 36% }
.project-til .project-label { left: 46%; top: 10% }
.project-jst .project-label { left: -1%; top: 18% }*/







/*.project-tile {
  height: 256px;
  position: relative;
  background-color: rgba(32, 85, 80, 0.3);
}

.project-caption,
.project-tile::after {
  position: absolute;
  left:0;
  right:0;
}

.project-tile::after {
  top:0;
  height:100%;
  border: solid 2px;
  content:'';
}

.project-caption {
  top: 61.8%;
  padding: 8px;
}
.project-caption em {
  text-align: right;
}

.project-frame {
  width: 100%;
}*/
