<ng-container *ngIf="template.rows"  >
<div [@rowAnim]>


<section class="content-row"
  *ngFor="let row of template.rows"
  [ngStyle]="row.style" >

  <div class="content-row-inner" >

    <ng-container
      *ngFor="let content of row.content"
      [ngSwitch]="content.type" >


      <div class="content text" *ngSwitchCase="'text'"
        [innerHTML]="content.value"
        [ngClass]="[content.class || '']">
      </div>

      <div class="content svg" *ngSwitchCase="'svg'"
        [inlineSVG]="content.value"
        [ngClass]="[content.class || '']">
      </div>

      <div class="content image" *ngSwitchCase="'image'"
        [ngClass]="[content.class || '']">
        <img [src]="content.value" />
      </div>

      <div class="content iframe" *ngSwitchCase="'iframe'"
        [innerHTML]="content.value"
        [ngClass]="[content.class || '']">
      </div>

    </ng-container>

  </div>

</section>
</div>

</ng-container>
