

/* row classes */

.content-row {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #e4e5e7;
  color: #202121;
}

.content-row-inner {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.row-collapse {
  padding-bottom: 0;
}

.text-row {


}

.image-row {
  background-color: #b2dfdb;
}


.content {
  flex: 1;
  padding: 8px;
}

.content-text {
  max-width: 640px;
}

.content-text >>> p {
  margin-bottom: 1.2rem;
}

.content-text >>> .nav-link {
  color: #00897B;
}

.content-text >>> ul {
  padding-left: 32px;
  list-style: circle;
  margin-bottom: 1.2rem;
}

.iframe-1024 {
  height: 768px;
  width: 1024px;
  border: solid 1px red;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content-row {
  padding: 16px;
}

.content-row-inner {
  max-width: 1200px;
  min-height: 240px;
  margin: 0 auto;

  display: flex;
  justify-content:space-between;
  align-items: stretch;
}


.overhang {
  margin-bottom: -40px;
}

.flex-double {
  flex: 2;
}

.flex-triple {
  flex: 3;
}


/* NEW Iframe layout?? */
.content.iframe {
  position: relative;
}

.content.iframe iframe {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.iframe-4-3 {
  width:100%;
  padding-bottom: 75%;
}
