<div *ngIf="template.rows" >


  <section class="content-row"
    *ngFor="let row of template.rows; index as i"
    [ngClass]="row.class"
    [ngStyle]="row.style"
    (appLOD)="row.isActive = true" >

    <div class="content-row-inner container" >

      <div class="content content-pad" *ngFor="let content of row.content"
        [ngClass]="[ 'content-' + content.type , content.class||'' ]" >

            <ng-container [ngSwitch]="content.type" *ngIf="row.isActive || content.type === 'text'"  >

              <div *ngSwitchCase="'text'" [innerHTML]="content.value" ></div>
              <div class="content-inner" *ngSwitchCase="'svg'" [inlineSVG]="content.value" [@lod] ></div>
              <img class="content-inner" *ngSwitchCase="'image'" [src]="content.value" [@lod] />
              <iframe class="content-inner" *ngSwitchCase="'iframe'" [src]="content.value | safe" frameborder="no" allowtransparency="true" scrolling="no" [@lod] ></iframe>

            </ng-container>
        </div>

    </div>

  </section>
  <!-- </div> -->
</div>
