
:host {
  background-color: #e4e5e7;
  color: #202121;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

/* row classes */

.content-row {
  padding: 2rem 1rem;
}

.content-row.row-collapse {
  padding-bottom: 0;
}

.flex-mobile .content-row-inner {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.align-tops .content-row-inner {
  align-items: flex-start;
}

.push-right .content-row-inner {
  justify-content: flex-end;
}




.has-after::after {
  content: "";
  display: block;
}

/* content classes */

.content {
  flex: 1;
  padding: .5rem;
  position: relative;
}

.flex-double {
  flex: 2;
}

.flex-triple {
  flex: 3;
}

.folio-content .content-text {
  max-width: 768px;
}

.stats-box > div {
  max-width: 300px;
  margin: auto;
  border: solid 2px;
  padding: 1rem;
  text-align: center;
}

.stat {
  font-size: 3rem;
}

.content-inner {
  position: absolute;
  top: .5rem;
  left: .5rem;
  height: auto;
  width: calc(100% - 1rem);
}

iframe.content-inner {
  height: calc(100% - 1rem)
}

.content-caption {
  display: none;
}

/* blackjack serpeate for RWD reasons  */
.blackjack-row {
  background: url(/assets/blk/noise.png), #2a5a30;
  color: #fff;
}

.blackjack-row .content {
  border: solid 2px;
}

@media screen and (min-width: 800px) {
  .content-row {
    padding: 4rem 1rem;
  }

  .content-row-inner {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .align-tops .content-row-inner {
    align-items: flex-start;
  }

  .push-right .content-row-inner {
    justify-content: flex-end;
  }

  .content-overlap {
      margin-top: -8rem;
      margin-bottom: -8rem;
  }
  .flex-double {
    flex: 2;
  }

  .flex-triple {
    flex: 3;
  }
  .flex-reverse .content-row-inner {
    flex-direction: row-reverse;
  }

  .content-text, .no-expand {
    max-width: 512px;
  }
}

@media screen and (min-width: 1100px) {
  .content-caption {
    display: block;
    position: absolute;
    right: 100%;
    top: 1rem;
    width: 128px;
    text-align: right;
    font-size: 75%;
  }
}

@media screen and (min-width: 1500px) {
  .blackjack-row .content {
    border: none;
    transform: scale(.8);
    margin: -1%;
  }

  .blackjack-row {
    background: url(/assets/blk/ipad-bg.svg) center / 89% no-repeat,
      url(/assets/blk/noise.png),
      #2a5a30;
  }
}
