<section class="demo-list">

  <article class="prev" ng-animate-ref="frame-{{prev.url}}">
    <a href="#/demo/{{prev.url}}">
      <div class="image-frame"  ></div>
      <span >{{prev.name}}</span>(prev)
    </a>
  </article>

  <article class="active" ng-animate-ref="frame-{{post.url}}">
    <a href="#/demo/{{post.url}}">
      <div class="image-frame"  ></div>
      <span>{{post.name}}</span>(prev)
    </a>
  </article>

  <article class="next" ng-animate-ref="frame-{{next.url}}">
    <a href="#/demo/{{next.url}}">
      <div class="image-frame"  ></div>
      <span>{{next.name}}</span>(prev)
    </a>
  </article>


</section>

