<section class="work-focus">

<!--  <article class="work prev" >
    <a href="#/demo/{{prev.url}}">

      (prev)
    </a>
  </article>-->

  <article class="work active" ng-animate-ref="frame-{{post.url}}">
    <a href="#/demo/{{post.url}}">
      <div class="work-thumb"  ></div>
      <h2 class="work-title">{{post.name}}</h2>
      <p class="work-desc" ng-show="loaded">{{post.desc}}</p>
    </a>
  </article>


<!--  <article class="work next" >
    <a href="#/demo/{{next.url}}">
      <div class="image-frame"  ></div>
      (next)
    </a>
  </article>-->


</section>

