:host {

}

.projects {
  position: absolute;
  left: 31vw;
  right: 10vw;
  top: 10vw;
}

.projects.push {
  animation: 0.5s slideOut forwards;
}

.projects li {
  display: inline-block;
  width: calc(100% / 3);
  padding: 15px;
  text-align: center;
  vertical-align: top;
  animation: 1s enterUp backwards;
}

.project-photo.tile {
  background-size: 100vh;
}

.project-tile {
  padding-bottom: 61.8%;
  position: relative;
}

.project-photo,
.project-caption,
.project-tile::after {
  position: absolute;

  left:0;
  right:0;
}

.project-tile::after {
  top:0;
  height:100%;
  border: solid 2px;
  content:'';
}

.project-photo {
  top:0;
  height:61.8%;
}

.project-caption {
  top: 61.8%;
  padding: 10px;
}


.next-btn {
  position: absolute;
  right:0;
}

/*
.projects figure {

  padding: 15px;
}

.projects img {
  width: 100%;
  height: auto;
  transition: opacity 1s;
  opacity: 0;
}

.projects img.ng2-lazyloaded {
  opacity: 1;
}


*/
