
.projects.push {
  animation: 0.5s slideOut forwards;
}

.projects li {
  display: inline-block;
  width: 20%;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  animation: 1s fadeUp;
  animation-fill-mode: backwards;
}



.projects figure {
  background-color: white;
  padding: 15px;
}

.projects img {
  width: 100%;
  height: auto;
  transition: opacity 1s;
  opacity: 0;
}

.projects img.ng2-lazyloaded {
  opacity: 1;
}

@keyframes fadeUp {
  0% { opacity:0; transform: translateY(100%); }
  50% { opacity:1; transform: translateY(-10%); }
  100% { opacity:1; transform: translateY(0); }
}

@keyframes slideOut {
  0% { opacity:0; transform: translateX(0); }
  50% { opacity:1; transform: translateX(-10%); }
  100% { opacity:1; transform: translateX(120%); }
}
