/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* BASE STYLE --------------------------------------------------------------- */

body {
  font: 300 18px/1.375 "soleil", sans-serif;
  color: #B2DFDB;
  background-color: #202121;
  overflow: hidden;
}

h1, h2, h3, h4, h5 { font-weight: bold; line-height: 1.2}

h1 { font-size: 4.21rem }
h2 { font-size: 3.16rem }
h3 { font-size: 2.37rem }
h4 { font-size: 1.77rem }
h5 { font-size: 1.33rem }



a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  color: #B2DFDB;
  position: relative;
}
.nav-link:hover, .nav-link:focus, .nav-link.active {
  color: #00897B;
}

.nav-link:hover::after, .nav-link.active::after {
    /* border-bottom: solid 2px; */
    content: "";
    display: block;
    background-color: currentColor;
    height: 2px;
    position: absolute;
    bottom: -4px;
    width: 100%;
    left: 0;
}


/* helpers ------------------------------------------------------------------ */

.no-clip {
    overflow: visible;
}

.full-screen {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fixed-overlay {
  position: fixed;
  z-index: 25;
}

.content-pad {
  padding: 8px;
}

/* grid --------------------------------------------------------------------- */

/* TODO added here to set up consistent sizes throughout site */
.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* preloader ---------------------------------------------------------------- */

.pre-loader-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 400ms linear;
}

.pre-loader-frame.going {
  transform: translateX(-100%);
}

.pre-loader-slide {
  transform: translateX(100%);
  background-color: #00897B;
  box-shadow: 0 0 20px #000;
}

.loader-logo {
  width: 20%;
}

.loader-spin {
  height: 5%;
}



.lg-jr {
  animation: fade-in 400ms 1s both
}

.lg-br {
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.br-l {
  animation-name: svg-draw;
}

.br-r {
  animation-delay: 500ms, 1s;
  animation-name: svg-draw, nudge-right;
}

.spin {
  stroke-dashoffset: -20;
  animation-duration: 1.5s, 1.2s;
  transform-origin: 10px;
  animation-name: svg-ring-pulse, spin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, linear;
  animation-direction: alternate-reverse, normal
}

/* jr-grid ------------------------------------------------------------------ */

.grid-box {
  position: absolute;
  box-sizing: content-box;
  /*height: 100%;
  width:100%;*/
}
.grid-rect {
  fill: #333030;;
  opacity: 0.1;
  cursor: pointer;
}
.grid-rect:not(.glow) {
  transition: opacity 1s linear 1s;
}

.grid-rect:hover, .grid-rect.glow {
  opacity: 1;
  transition: opacity .1s
}

/* folio list svg ----------------------------------------------------------- */

/*.wipe-out {
  animation: wipe 1s both .3s;
}

.appear {
  animation: fade-in-instant 1s both .3s;
}*/

/* css animations ----------------------------------------------------------- */

@keyframes svg-draw {
  from { stroke-dashoffset: 21 }
  50% { stroke-dashoffset: 10 }
  to { stroke-dashoffset: 0 }
}

@keyframes nudge-right {
  from { transform: translatex(-19px) }
}

@keyframes fade-in {
  from {opacity: 0 }
  to {opacity: 1 }
}

@keyframes svg-ring-pulse {
  from { stroke-dasharray: 5 40}
  to { stroke-dasharray: 40 40}
}

@keyframes spin {
  /*from { transform: rotate(0)}*/
  to { transform: rotate(360deg)}
}
@keyframes wipe {
  from { transform: translateX(-100%) }
  30% { transform: none }
  to { transform: translate(100%) }
}
@keyframes fade-in-instant {
  from, 29% { opacity: 0 }
  30% { opacity: 1 }
}

@keyframes enter-left {
  from { opacity: 0; transform: translateX(-50%);}
  10% { opacity: 1 }
  to { transform: none;}
}
