/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}


/*btn reset*/
button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1em;
}

button:focus {
  outline: none;
}

/* BASE TYPOGRAPHY ---------------------------------------------------------- */

body {
  font: 300 16px/1.375 "soleil", sans-serif;
  color: #B2DFDB;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.2}

.header-1 { font-size: 2rem }
.header-2 { font-size: 1.625rem }
.header-3 { font-size: 1.375rem }
.header-4 { font-size: 1.125rem }

.font-super {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  position: relative;
  text-align: center;
  padding: .5rem 1rem;
  transition-duration: 300ms;
  cursor: pointer;
  font-weight: bold;
}

.nav-link::after, .content a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.nav-link:hover::after, .nav-link.active::after, .content a:hover::after, .content a.match-content::after {
  background-color: currentColor;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 800px) {
  .header-1 { font-size: 4.21rem }
  .header-2 { font-size: 3.16rem }
  .header-3 { font-size: 2.37rem }
  .header-4 { font-size: 1.77rem }

  .font-super {
    font-size: 3.16rem;
  }

  body { font-size: 18px }
}


/* style-free content formatting -------------------------------------------- */

.content p {
  margin-bottom: 1.2rem;
}

.content a {
  color: #00897B;
  position: relative;
}

.content a.match-content {
  color: inherit;
}

.content ul {
  padding-left: 2rem;
  list-style: circle;
  margin-bottom: 1.2rem;
}

.content sub {
  font-size: 0.5em;
  vertical-align: baseline;
}

.content hr {
  margin: 1rem 0;
  border: none;
  background: #00897B;
  height: 0.5rem;
}

@media screen and (min-width: 800px) {
  .content hr {
    margin: 2rem -5rem 2rem -13px;
  }

}

/* helpers ------------------------------------------------------------------ */

.navicon {
  width: 2rem;
  height: 2rem;
  margin: auto;
  vertical-align: middle;
}

.navicon.inline {
  display: inline-block;
}

.tiny-icon {
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  fill: currentColor;
  margin-left: 0.25em;
}

.ico {
  transition: fill 300ms;
}

a:hover .ico, .active .ico  {
  fill: currentColor;
}

.project-intro-icon svg {
  width: 100%;
  height: 100%;
}

/* from material design */
.content-shadow, .image-shadow img, .content-overlap img {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.frame-shadow {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 799px) {
  .hide-small {
    display: none !important;
  }
}
@media screen and (min-width: 800px) {
  .small-only {
    display: none !important;
  }
}

/* grid --------------------------------------------------------------------- */

.full-screen {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.outer-frame {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.content-pad {
  padding: 1rem;
}

@media screen and (min-width: 1100px) {
  .outer-frame {
    padding: 2rem;
  }
}
