
:host {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.home-nav-bg {
  position: absolute;
  width: 500px;
  left: calc(360px + 5vw);
  height: 100%;
  transform: skewX(30deg);
  background-color: rgba(14, 76, 70, 0.7);
}

.home-link {
  position: absolute;
}

.work {
  top: 320px;
  left: calc(530px + 5vw);
}

.about {
  top: 500px;
  left: calc(600px + 5vw);
}

.welcome {
  position: absolute;
  width: 30%;
  right: 4vw;
  top: 4vh;
}
