
:host {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.home-link {
  background-image: linear-gradient(to right, rgba(0, 137, 123, 0) 10% ,#00897B,#00897B,rgba(0, 137, 123, 0) 90% );
  display: block;
  margin: 1rem;
}

.welcome {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 2rem;
}

.copy {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 75%;
}

@media screen and (min-width: 800px) {
  .welcome {
    margin: 0;
    position: absolute;
    width: 30%;
    min-width: 480px;
    right: 4vw;
    top: 4vh;

  }
  .home-link {
    position: absolute;
    background: none;
  }

  .work {
    top: calc(5vh + 220px);
    left: calc(100px + 15vw);
  }

  .about {
    top: calc(5vh + 400px);
    left: calc(180px + 15vw);
  }
}

@media screen and (min-width: 1100px) {
  .home-nav-bg {
    width: calc(50vw);
    position: absolute;
    height: 100%;
    right: 60vw;
    transform: skewX(30deg);
    transform-origin: top right;
    background-color: rgba(14, 76, 70, 0.7);
  }
}
